autopep8==0.9.7
Django>=1.5,<=1.6
gdata==2.0.18
GitPython
invoke==0.7.0
lxml
pep8==1.4.6
requests==1.2.3
rfc6266
-e git+http://github.com/rhymeswithcycle/represent-boundaries.git#egg=represent-boundaries
-e git+http://github.com/opennorth/mycityhall-scrapers.git#egg=mycityhall-scrapers
